input {
border: 1px solid #999;
padding: 0.5rem;
width: 300px;
}
  
.suggestions {
border: 1px solid #999;
position: absolute;
border-top-width: 0;
list-style: none;
margin-top: 0;
max-height: 150px;
overflow-y: auto;
padding-left: 0;
width: 500px;
background-color: #ffffff;
}

.suggestions li {
padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
background-color: #fafafa;
color: #008000;
cursor: pointer;
font-weight: 700;
}

.suggestions li:not(:last-of-type) {
border-bottom: 1px solid #999;
}

.AutomatedForm tr td {
    overflow-y:auto;
    height: 40px;
}

.AutomatedForm {
    table-layout: fixed;
}

.AutomatedForm {
    border-collapse:separate; 
    border-spacing: 0 10px;
    width: 100%;
}

.timeSlider {
    overflow: hidden;
    height: 70px;
}
.modules {
    margin-right:5px;
}

.fullButton {
    width:100%;
}